  .header {
    font-family: "Courier New", Courier, monospace;
    background-color: #fadeb7;
    height: 50px;
    border: 2px solid #483634;
    border-radius: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  #logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    height: 75%;
    border-radius: 50%;
  }

  #mobilelogin {
    display: none;
  }

  .header h1 {
    font-size: xx-large;
    text-wrap: nowrap;
    position: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    color: #483634;
  }

  .header a {
    text-decoration: none;
    color: #483634;
  }

  .login {
    margin-left: auto;
    margin-right: 1%;
    color: #483634;
    white-space: nowrap;
  }

  .logout {
    margin-left: auto;
    margin-right: 1%;
    color: #483634;
    display: flex;
    align-items: center;
  }

  .logout p {
    font-weight: bold;
    padding-right: 15px;
    text-wrap: nowrap;
  }

  .logout button {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: 5px;
  }

  .loginForm {
    display: inline-block;
    line-height: 50px;
    margin-right: 45px;
  }

  .hidden {
    display: none;
  }

  .nothidden {
    display: inline;
    vertical-align: inherit;
  }

  .nothiddenmobilemenu {
    display: inline-block;
    text-align: left;
  }

  .cartButton {
    font-size: 24px;
    cursor: url(https://cdn.custom-cursor.com/db/4035/32/arrow2355.png), pointer !important;
  }

  .cartButton:hover {
    cursor: url(https://cdn.custom-cursor.com/db/4035/32/arrow2355.png), pointer !important;
  }

  .off-screen-menu {
    display: none;
  }

  .ham-menu {
    display: none;
  }
@media (max-width: 1300px) {
  .off-screen-menu {
    background-color: #483634;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    font-size: 3rem;
    transition: .3s ease;
  }

  .off-screen-menu ul {
    list-style: none;
    color:#fadeb7;
  }

  .off-screen-menu ul li {
    text-align: left;
    margin-bottom: 5px;
  }

  .off-screen-menu.active {
    display: flex;
    right: 0;
    z-index: 100;
  }

  .ham-menu {
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: 10px;
    position: relative;
  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #483634;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 101;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu:hover {
    cursor: url(https://cdn.custom-cursor.com/db/4035/32/arrow2355.png), pointer !important;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color:#fadeb7;
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color:#fadeb7;
  }

  .bottomBorder {
    border-bottom: 2px solid #fadeb7;
  }

  .mobileLink:hover {
    cursor: url(https://cdn.custom-cursor.com/db/4035/32/arrow2355.png), pointer !important;
    color: #fff5e1;
  }

  .login {
    display: none;
  }

  .logout {
    display: none;
  }

  #welcome {
    display: none;
  }
  
}

@media (max-width: 800px) {
  .header h1 {
    font-size: 25px;
    text-wrap: nowrap;
  }

  .header {
    font-family: "Courier New", Courier, monospace;
    background-color: #fadeb7;
    height: 50px;
    border: 2px solid #483634;
    border-radius: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  #logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    height: 75%;
    border-radius: 50%;
    display: inline-block;
  }

  .header h1 {
    font-size: xx-large;
    text-wrap: nowrap;
    position: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    color: #483634;
  }

  .header a {
    text-decoration: none;
    color: #483634;
  }

  /* .logout p {
    padding-right: 15px;
    text-wrap: nowrap;
  }

  .logout button {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: 5px;
  }

  .login button {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
  } */

  .loginForm {
    display: none;
    line-height: 50px;
  }

  #accountform {
    display: none;
  }
}
