html {
  font-family: "Courier New", Courier, monospace;
  background-color: #fff5e1;
  overflow-x: hidden;
}

#drinklist {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.menuitem {
  width: 17.5%;
  background: #fadeb7;
  border: 2px solid #483634;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
}

.menuitem img {
  width: 100%;
  border-radius: 12.5px 12.5px 0px 0px;
}

.menuitem button {
  width: 50%;
  font-weight: bold;
  background-color: #483634;
  color: #fff5e1;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* fixes the button line height in Firefox */
@-moz-document url-prefix() {
  .menuitem button {
    line-height: 5%;
  }
}

#preferenceWrapper {
  text-align: center;
}

.preferenceitem {
  vertical-align: top;
  display: inline-block;
  width: 47%;
  height: 180px;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #483634;
  border-radius: 15px;
  background: #fadeb7;
}

.preferenceitem img {
  max-height: 112.5%;
  float: left;
  top: 50%;
  left: 0%;
  transform: translate(-5.5%, -39%);
  vertical-align: middle;
  border-radius: 15px 0px 0px 15px;
}

.preferenceitem p {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.preferenceitem h2 {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.preferenceitem button {
  clear: right;
  float: right;
}

.hidden {
  display: none;
}

.nothidden {
  display: block;
}

.orderImage {
  max-width: 300px;
  height: auto;
}

.modalPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #483634;
  background-color: #ffe4ae;
  border-radius: 10px;
  z-index: 10;
  width: 300px;
  max-width: 80%;
}

.modalPopup.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalText {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(245, 222, 179, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.filterDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterButton {
  display: inline-block;
  width: 19%;
}

.filterActive {
  background: none;
  border: 1px solid #483634;
  color: #483634;
}

.filterActive:hover {
  color: #483634;
}

.mobileFilterList {
  display: none;
}

#welcome-mobile {
  display: none;
}

@media (max-width: 1346px) {
  .menuitem {
    width: 25%;
  }
}

@media (max-width: 1300px) {
  #welcome-mobile {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 1000px) {

  .menuitem {
    width: 40%;
  }

  .desc {
    display: none;
  }

  button {
    height: 50px;
    font-size: large;
  }

  .filterDiv {
    display: none;
  }

  .filterButton {
    font-size: x-small;
  }

  .preferenceitem {
    width: 90%;
  }

  .mobileFilterList {
    display: none;
  }

  .mobileFilterList.active {
    display: block;
  }
}

@media (min-width: 800px) {

}
